 <div class="row">
    <form class="col s12" action="/admin/add"  method="POST" >
      <div class="row">
        <div class="input-field col s6">
          <input  id="first_name" type="text" name="fname" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" name="lname" class="validate">
          <label for="last_name">Last Name</label>
        </div>
         <div class="input-field col s6">
          <input id="last_name" type="text" name="experience" class="validate">
          <label for="last_name">Years of Experience:</label>
        </div>
         <div class="input-field col s6">
          <input id="last_name" type="text" name="position" class="validate">
          <label for="last_name">Position</label>
        </div>
      </div>
      <button type="submit" class="waves-effect waves-light btn">Add</button>
    </form>
  </div>