<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Admin</h1>
        {{# if hasErrors }}
            {{# each messages }}
              <div class="card-panel red">
    <span class="white-text text-darken-2">{{this}}</span>
  </div>
            {{/each}}
        {{/if}}
        <form action="/admin/admin-login" method="POST">
             <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" id="email" name="email" class="form-control" placeholder="fullname@gmail.com" required>
            </div>
             <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <input type="hidden" name="_csrf" value="{{ token }}">
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
        <br>
        <h4>Try to login</h4>
        <h5>Email: test@test.com</h5>
        <h5>password: test123</h5>
    </div>
</div>
